/*
  @media only screen and (min-width: 1600px) {
*/
  .navbar-nav {
    width: 100%;
    text-align: center;
    position:fixed;
    position:absolute;
    > li {
      float: none;
      display: inline-block;

    }
  }
  nav.navbar{
    position: fixed;
    width:100%;
    padding-left: 350px;
    background-color: #313131;
    border:none;
    border-radius: 0;
    z-index:10;

  }
  
#centre {         /*toolbar center*/
  height:47px;
  width: 150px;
  display:block;
  background-color: #313131;
}
.dropdown:hover .dropdown-menu
 {
  display:block;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0px auto ;
    /*150px footer height*/
    background-color: #313131;
}
div.stretchy-wrapper {
  width: 100%;
  /*padding-bottom: 56.25%;*/ 
  position: relative;

  background: #313131;
}


/* Other aspect ratios to try:
 * 56.25% = 16:9
 * 75% = 4:3
 * 66.66% = 3:2
 * 62.5% = 8:5
 */

.bg {                    /*background main page*/
    /* The image used */
    background-image: url("../img/MS Logo BG2.jpg");

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
 
}
.bg-logo
{
  height:130px;
  width: 190px;
  position: absolute;
  float: left;
  margin-top: 260px;
  margin-left: 680px;
  animation: fadein 5s;
  
}
.bg-text
{
  position: absolute;
  color: white;
  text-align: center;
  text-decoration: none; 
  font-family: 'Futura-Light', sans-serif;
  font-size: 19px;
  margin-top: 430px;
  padding-left: 550px;
  letter-spacing: 14px;
  line-height: 1.2;
  animation: fadein 5s;
  
}
.bg-text b
{
  font-family: 'DIN-Neu-Grotesk', sans-serif;
  font-size: 68px;
  letter-spacing: 20px;
}
@keyframes fadein
{
  from{opacity:0;}
  to{opacity: 1;}
}
.fa {             /*social media button*/
  padding: 5px;
  font-size: 20px;
  height:33px;
  width: 33px;
  text-align: center;
  text-decoration: none; 
  border-radius: 50%;
  cursor: pointer;
}

.fa:link {
    text-decoration: none;
}
.fa:visited {
    text-decoration: none;
}
.fa:hover {
    /*opacity: 0.7;*/
    text-decoration: none;
}
.fa:active {
    text-decoration: none;
}
.fa-linkedin {
  background: white;
  color: black;
}
.fa-facebook {
  background: white;
  color: black;
}
.social-media{
  position: relative;
  height: 300px;
  width: 300px;
}

.social-media a {
  position: absolute;
  left: 0;
  bottom: 0;
}
#about{             /*about space*/
  height:550px;
  width:100%;
  background-color:white;
  position:relative;
  float:left;
  animation: fadein 3s;
  
}
#about-main{
  position: relative;
  left:275px;
  top:150px;
  height:200px;
  width: 500px;
  text-align: center;
  float:left;
  border-right: 3px solid;
}
#about-info{
  position:relative;
  left: 300px;
  top:70px;
  height:500px;
  width: 480px;
  text-align: left;
  float:left;
}
#about-info pre{
  background-color:white;
  border-style:none;
}
#work{          /*work space*/
  height:1050px;
  width:100%;
  position: relative;
  float:left;
  animation: fadein 3s;
}
#work-title{
  color:white;
  padding-top: 70px;
  text-align: center;
  width:100%;
  font-size: 34px;
  position:relative;
/*  float :left;
*/  z-index:0;
}
#work-title img{
  position: absolute;
  float: left;
  width: 90px;
  height: 80px;
  margin-left: -200px;
  margin-top: -20px;
  opacity: 0.35;
  transform: rotate(180deg);
  }
#work-undeline{
  border-bottom: 2px solid white;
  width:14%;
  margin-left:665px;
  margin-top: -5px;
  /*  position:relative;
 float:left; */
}

#work-wrapper{
  /*position:relative;
  float:left;*/
  /*text-align: center;*/  
}
#pic-size{
  width: 271px;
  height: 204px;
  overflow: hidden;
}
.middle{
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  transform: translate(0%, -100%);
  width: 271px;
  height: 204px;
  /*border: 1px solid white;*/
}
.pic-text{ 
  color: white;
  font-size: 28px;
  padding:20%;
  margin-top: 20px;
}
.pic-text-underline{
  border-bottom: 1px solid white;
  width:90%;
  margin-left: 15px;
  margin-top: -53px;
}
th:hover .middle{
  opacity: 1;
}
table{
  /*border-spacing: 10px 12px;*/
  color:white;
  margin-top:10px;
  /*padding: 0 8px 0 8px;*/
}
tr{
  margin-bottom: 0px;
}
th{
  width: 285px;
  height: 280px;
  /*padding: 0 15px 0 15px;*/
  /*border: 1px solid white;*/
  /*border-spacing: 10px 10px 10px 10px;*/
  text-align: center; 
}
.pic-text a:link{
  color: white;
  text-decoration: none;
}
.pic-text a:hover{
  color: white;
  text-decoration: none;
}
.pic-text a:visited{
  color: white;
  text-decoration: none;
}
.pic-text a:selected{
  color: white;
  text-decoration: none;
}
#pic-size img{
  width: 269px;
  height: 202px;
  object-fit: cover;
  backface-visibility: hidden;
}
th:hover img{
  transform: scale(1.1); 
  transition: transform 1s;
  opacity:0.5;
}
#Team{      /*Team space*/
  height:890px;
  width:100%;
  padding: 0;
  position: relative;
  float:left;
  background-color: #1d1d1d;
  animation: fadein 3s;
}
#team-title{
  color:white;
  padding-top: 50px;
  text-align: center;
  width:100%;
  font-size: 34px;
  position:relative;
  padding-bottom: 50px;
}
#team-title img{
  position: absolute;
  float: left;
  width: 70px;
  height: 70px;
  margin-left: -155px;
  margin-top: -15px;
  opacity: 0.35;
}
#team-undeline{
  border-bottom: 2px solid white;
  width:11%;
  margin-left:705px;
  margin-top: -5px;
  /*  position:relative;
 float:left; */
}
#team-img-slide{
  position:relative;
  height:790px;
  width: 100%;
}
/*.team-img-slide:hover{
  .carousel('pause');
}*/
#Ach{
  height: 820px;
  width: 100%;
  margin-top: 70px;
  position: relative;
  float: left;
  animation: fadein 3s;
}
#ach-bg{
  background-image: url("../img/ach3-new.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
#ach-title{
  color:white;
  padding-top: 110px;
  text-align: center;
  width:100%;
  font-size: 38px;
  position:relative;
  padding-bottom: 50px;
}
#ach-title img{
  width: 75px;
  height: 50px;
  margin-bottom: 20px;
}
#ach-undeline{
  border-bottom: 2px solid white;
  width:15%;
  margin-left:665px;
  margin-top: 20px;
  /*  position:relative;
 float:left; */
}
#ach-text{
  
}
#ach-text pre b{
  letter-spacing: 2px;
  font-size: 36px;
}
#ach-text pre{
  position: relative;
  float: left;
  background: none;
  color: white;
  border-style: none;
  text-align: center;
  width:39%;
  padding-top: 40px;
  margin-left: 300px;
  /*border: 1px solid white;*/
}
#ach-sijil{
  position: relative;
  float: left;
  width: 20%;
  margin-left: 50px;
}
#ach-sijil img{
  border: 5px solid white;
  width: 270px;
  height:400px;
}
#Contact{
  height: 800px;
  width: 100%;
  padding: 0;
  position: relative;
  float: left;
  animation: fadein 3s;
}
#contact-title{
  color:white;
  padding-top: 50px;
  text-align: center;
  width:100%;
  font-size: 34px;
  padding-bottom: 50px;
}
#contact-undeline{
  border-bottom: 2px solid white;
  width:15%;
  margin-left:665px;
  margin-top: 20px;
  /*  position:relative;
 float:left; */
}
#contact-body {
  margin-left: 70px;
  margin-bottom: 50px;
}
#contact-bg{
  position: relative;
  float: left;
  width: 1436px;
  height: 644px;
}
#contact-bg-responsive{
  display: none;
}
#contact-body b{
  font-size: 24px;
}
#contact-KL{
  padding-top: 60px;
  padding-left: 50px;
  position: absolute;
  float: left;
  border-style:none;
  background: none;
  color: black;
}
#contact-KT{
  margin-top: 50px;
  padding-left: 340px;
  position: absolute;
  float: left;
  border-style:none;
  background: none;
  color: black;
}
#contact-form{
  position: absolute;
  float: left;
  margin-top: 300px;
  margin-left: 930px;
  border-radius: 4px;
  width: 27%;
}
.col-75{
  width: 100%;
  margin-top: 6px;

}
#contact-form input[type=text],[type=email],select,textarea{
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
/***********************Button SUBMIT Bootstrap****************************/
.wrapper {
  display: flex;
  justify-content: center;
  margin-left:270px;
  margin-top: 12px;

}

.cta {
  display: flex;
  width:150px;
  height:40px;
  padding-top:8px;
  padding-left:20px;
  text-decoration: none;
  font-family: 'Open-Sans', sans-serif;
  font-size: 19px;
  color: white;
  background: #284f80;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  /*transform: skewX(-15deg);*/
}
.cta-text{
  font-family: 'Open-Sans', sans-serif;
  opacity: 1;
  color: white;
}
.cta-text:hover{
  text-decoration: none;
  opacity: 1;
  color: white;
}

.cta:focus {
   outline: none; 
}

.cta:hover {
  text-decoration: none;
  transition: 0.5s;
  box-shadow: 10px 10px 0 #e80204;    /*#FBC638*/
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    /*transform: skewX(15deg) */
    text-decoration: none;
    background-color: none;

  }

  span:nth-child(2) {
    left:7%;
    margin-left: 10px;
    position: relative;
    top: 3%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #e80204;    /*#FBC638*/
    }
    100% {
        fill: white;
    }
}


#googleMap{
  width:1425px;
  height:300px; 
  margin-top:20px; 
  margin-left: 70px;
  margin-bottom: 40px; 
  position: relative;
  float: left;
  border-radius: 25px;
}
#BoD{
  background-color: white;
  width:100%;
  height:789px;
  position:relative;
  float: left;
}
#bod-title{
  color: black;
  text-align: center;
  position: relative;
  margin-top: 110px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 38px;
  font-family: 'Futura-Basic', sans-serif;
  animation: fadein 3s;
}
#bod-underline{
  border-bottom: 3px solid black;
  width:20%;
  margin-left:645px;
  margin-top: -5px;
  position:relative;
  float:left; 
  animation: fadein 3s;
}
#bod-row img{
  width:300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: 25px;
  animation: fadein 4s;
}
#bod-row img:hover{
  opacity: 0.7;
}
#bod-row{
 padding-left: 210px; 
 text-align: center;
 align-content: center;
}
#bod-row b{
  color: darkgreen; /*#9caa3b*/
  font-family: 'Futura-Basic', sans-serif;
  font-size: 19px;
}
#bod-row pre{
  border-style: none;
  background: none;
  font-family: 'Open-Sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.bod-row > .bod-face {
  padding: 0 8px;
}
#bod-row::after{
  content: "";
  clear:both;
  display: table;
}
#bod-face{
  float:left;
  padding: 20px;
}
.bod-small{
  float: left;
  width: 33%;
  height: 100px;
  overflow: hidden;
}
.bod-small img{
  width: 170px; height: 170px;
  animation-name: rollIn;
  animation-duration: 2s;
}
/* The Modal (background) */
.bod-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.bod-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 35%;                             /*image enlarge*/
  max-width: 1200px;
  animation-name: zoom;
  animation-duration: 1s;
}

/* The Close Button */
.close {
  color: white;
  position: relative;
  top: -30px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.bod-Slides {
  display: none;
  animation: fadein 2s;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes rollIn{
  0%{
    transform: translateX(-100%) rotate(-120deg); 
  }
  100%{
    transform: translateX(0%) rotate(0deg);
  }
}
@keyframes zoom{
  from{transform: scale(0)}
  to{transform: scale(1)}
}
#Master-Planning{
  background-color: #313131;
  width:100%;
  position:relative;
  float: left;
  padding-bottom: 75px;
  animation: fadein 3s;
}
#Master-Planning img{
  width: 90%;
  padding-left: 10%;
}
#Commercial{
  background-color: #313131;
  width:100%;
  position:relative;
  float: left;
  padding-bottom: 75px;
  animation: fadein 3s;
}
#Commercial img{
  width: 90%;
  padding-left: 10%;
}
#Hotel-Resort{
  background-color: #313131;
  width:100%;
  position:relative;
  float: left;
  padding-bottom: 75px;
  animation: fadein 3s;
}
#Hotel-Resort img{
  width: 90%;
  padding-left: 10%;
}
#Instituitional{
  background-color: #313131;
  width:100%;
  position:relative;
  float: left;
  padding-bottom: 75px;
  animation: fadein 3s;
}
#Instituitional img{
  width: 90%;
  padding-left: 10%;
}
#Landscape{
  background-color: #313131;
  width:100%;
  position:relative;
  float: left;
  padding-bottom: 75px;
  animation: fadein 3s;
}
#Landscape img{
  width: 90%;
  padding-left: 10%;
}
#Residential{
  background-color: #313131;
  width:100%;
  position:relative;
  float: left;
  padding-bottom: 75px;
  animation: fadein 3s;
}
#Residential img{
  width: 90%;
  padding-left: 10%;
}
#Interior{
  background-color: #313131;
  width:100%;
  position:relative;
  float: left;
  padding-bottom: 75px;
  animation: fadein 3s;
}
#Interior img{
  width: 90%;
  padding-left: 10%;
}
#Industrial{
  background-color: #313131;
  width:100%;
  position:relative;
  float: left;
  padding-bottom: 75px;
  animation: fadein 3s;
}
#Industrial img{
  width: 90%;
  padding-left: 10%;
}
#Public-Building{
  background-color: #313131;
  width:100%;
  position:relative;
  float: left;
  padding-bottom: 75px;
  animation: fadein 3s;
}
#Public-Building img{
  width: 90%;
  padding-left: 10%;
}

#Footer{
  height: 100px;
  width: 100%;
  padding: 0;
  position: relative;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #313131;
}

#Footer p{
  margin-top: 60px;
  color: white;
  text-align: center;
}
#Footer a {
    position: absolute;
    left: 0;
    bottom: 0;
}

@font-face {
    font-family: Tactic-Sans;
    src: url(../font/tacticsansexd-med.woff);
}
@font-face {
    font-family: Futura-Light;
    src: url(../font/futura-light.woff);
}
@font-face {
    font-family: DIN-Neu-Grotesk;
    src: url(../font/din-30640-std-neuzeit-grotesk-bold-cond.woff);
}
@font-face {
    font-family: DIN-Light;
    src: url(../font/dinlight.woff);
}
@font-face {
    font-family: Futura-Normal;
    src: url(../font/futurand-medium.woff);
}
@font-face {
    font-family: Open-Sans;
    src: url(../font/opensans-regular.woff);
}
.Futura-Font {
  font-family: Futura-Light;
  font-size:19px;
  letter-spacing: 3px;
}
.Futura-Font-Work {
  font-family: Futura-Light;
  font-size:19px;
  letter-spacing: 1px;
}
.Din-Light {
  font-family: DIN-Light;
  font-size:19px;
}
h1.Din-Grotesk{
  font-family:DIN-Neu-Grotesk;
  font-size:68px;
  font-color:black;
  text-decoration: none;
}
.Futura-Basic{
  font-family:Futura-Normal;
  font-size: 34px;
  letter-spacing: 7px;
  text-shadow: 4px 4px 4px black;
}
.Open-Sans{
  font-family:Open-Sans;
  font-size: 34px;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background-color: grey;
    border-color: white;
    border-radius: 50%;
    z-index: 5;
}
/*} */ /*END OF MEDIA 1600px*/


/**************************************RESPONSIVE MOBILE VIEW***************************************/
/***************************************************************************************************/
.icon{
  display: none;
}
@media only screen and (max-width: 420px) and (min-width: 320px) {

    body. html{
      width: 100%;
      padding: 0;
      margin: 0;
    }
    div.stretchy-wrapper{
      width: 420px;
    }
    
   .container-fluid{     /*isi toolbar*/
      display: none;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0; 
    }
    .navbar a.icon{      /*icon atas kanan*/
      display: block;
      right: 0;
      top: 10px;
      float: right;
      position: absolute;
      color: white;
      
    }
    .container-fluid.responsive{     /*isi toolbar terbuka*/
      display: inline;
      width: 100%;
      background-color: none;
    }
    .container-fluid.responsive .nav{     /*toolbar terbuka*/
      width: 100%;
      padding-top: 7%;
      display: inline;
      
    }
    .container-fluid.responsive .nav a{     /*isi toolbar dropdown terbuka*/
      width: 100%;
      text-align: center;
      display: block;
      /* border:1px yellow solid;*/
    }
    .container-fluid.responsive .nav li.dropdown{ 
      border:none;
      background-color: none;
    }
    .container-fluid.responsive .nav li.dropdown ul{     /*box toolbar dropdown menu*/
      background-color: none;
      border:none;
      margin-left: 100%;
      margin-top: -30%;
    }
    .container-fluid.responsive .nav ul.dropdown-menu a{     /*isi toolbar dropdown dropdown menu terbuka*/
      color: black;
      /*  margin-left: 170px;*/
    }

    nav.navbar{           /*toolbar dekat atas*/
      padding-left: 0;
      background-color: #313131;
      border:none;
    }
    .bg, .container{
      width: 100%;
    }
    .bg-logo{
      margin-top: 30%;
      margin-left: 27%;
    }
    .bg-text{
      width: 100%;
      top: 55%;
      margin: 0;
      padding: 0;
      font-size: 20px;
      letter-spacing: 10px; 

    }
    .bg-text b{
      font-size: 70px;
      letter-spacing: 10px; 
      text-align: center;
    }
    #home .social-media{
      display: none;
      
    }
    /******END OF FRONT PAGE********/

    #about{
      height: 700px;
    }
    #about-main{
      width: 100%;
      top: 10%;
      left: 0;
      margin: 0;
      padding: 0;
      border:none; 

    }
    #about-info{
      width: 100%;
      top: 10%;
      left: 5%;
      right:0;
      margin-right: -5%;
      padding: 0;
      text-align: justify;
    }
     #about-info pre{
      font-size: 16px; 
      left: 0;
      right:0;
      margin: 0;
      padding: 0;
     }

     /******END OF ABOUT PAGE********/
    #work{
      height:1200px;
     
    }
    #work-title{
      color:white;
      padding-top: 10%;
      margin-bottom: 10%;
      text-align: center;
      width:100%;
      font-size: 34px;
      position:relative;
    /*  float :left;*/ 
      z-index:1;
  }
    #work-undeline{
    display: none;
  }
    #work-wrapper th{
      width: 100%;
      height:100px;
      display:block;  
      /*border: 1px yellow solid;*/
      margin-bottom: 2%;
      margin-left: 0;
    }
    #work-wrapper #pic-size {
      width: 100%;
      height:100%;
      position: relative;
      /*border: 1px red solid;*/
    }
    #work-wrapper img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      padding:0;
      margin:0;
      vertical-align: middle;
      /*border: 1px blue solid;*/
    }
    #work-wrapper .middle {
      width: 100%;
      height:100px;
      /*border: 1px red solid;*/
      padding:0;
      margin:0;
      position: relative;
      display: block;
    }
    #work-wrapper .pic-text  {
       padding-top: 2%;
       margin-left: 0;
       
    }
    #work-wrapper .pic-text-underline {
       display: none;
    }
    .pic-text a:link{
      color: white;
      text-decoration: none;
    }
    .pic-text a:hover{
      color: white;
      text-decoration: none;
    }
    .pic-text a:visited{
      color: white;
      text-decoration: none;
    }
    .pic-text a:selected{
      color: white;
      text-decoration: none;
    }

    .middle{
      opacity: 1;
    }
    th:hover img{
      transform: none; 
      transition: none;
      opacity:1;
    }
    #pic-size img{
      
      object-fit: cover;
      backface-visibility: visible;
    }


  /******END OF WORK PAGE********/

  #Team{      /*Team space*/
    height:500px;
    width:100%;
    padding: 0;
    position: relative;
    float:left;
    background-color: #1d1d1d;
    animation: fadein 3s;
  }
  #team-undeline{
    display: none;
  }
  #team-img-slide{
    position:relative;
    height:80%;
    width: 100%;
  }

  /******END OF TEAM PAGE********/

  #Ach{
    height: 850px;
    width: 100%;
    margin-top: 0px;
    position: relative;
    float: left;
    animation: fadein 3s;
  }
  #ach-bg{
    background-image: url("../img/ach3-new.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display:table;
  }
  #ach-title{
    color:white;
    padding-top: 10%;
    text-align: center;
    width:80%;
    left: 10%;
    right: 10%;
    font-size: 38px;
    position:relative;
    bottom: 0;
  }
  #ach-undeline{
    display: none;
  }
  #ach-sijil{
    position: relative;
    float: left;
    width: 50%;
    left: 10%;
    top: 0;
    display: table-header-group;
  }
  #ach-sijil img{
    border: 5px solid white;
    width: 100%;
    height:100%;
  }
  #ach-text{
    display: table-footer-group;
  }
  #ach-text pre b{
    letter-spacing: 2px;
    font-size: 24px;
  }
  #ach-text pre{
    position: relative;
    float: left;
    background: none;
    color: white;
    border-style: none;
    text-align: center;
    width:100%;
    padding-top: 10%;
    margin-left: 0;
    margin-bottom: 5%;
    right: 0;
    font-size: 20px;
    /*border: 1px solid white;*/
  }
  /******END OF ACHIEVEMENT PAGE********/


  #Contact{
    height: 1000px;
    width: 100%;
    padding: 0;
    position: relative;
    float: left;
    animation: fadein 3s;
  }
  #contact-undeline{
    display: none;
  }
  #contact-bg{
    display: none;
  }
  #contact-bg-responsive{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    left: 0;
    margin-left: -10%;
    height: 1000px; 
  }
  #contact-KL{
    padding-top: 15%;
    margin-left: -10%;
    padding-left: 10%;
    position: absolute;
    float: left;
    border-style:none;
    background: none;
    color: black;
    
  }
  #contact-KT{
    margin-top: 80%;
    padding-left: 10%;
    margin-left: -10%;
    position: absolute;
    float: left;
    border-style:none;
    background: none;
    color: black;
    overflow: hidden;
   
  }
  #contact-form input[type=text],[type=email],select,textarea{
    width: 100%;
   /* padding: 5px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    /*border: 1px red solid;*/
  }
  #contact-form{
    position: absolute;
    float: left;
    margin-top: 150%;
    margin-left: 3%;
    border-radius: 4px;
    width: 60%;
    /*border: 1px red solid;*/
  }
  .wrapper {
    display: flex;
    justify-content: center;
    margin-left:0%;
    margin-top: 10px;

  }

  #googleMap{
    width:80%;
    height:20%; 
    margin-top:45%; 
    margin-left: 10%;
    margin-bottom: 5%; 
    position: relative;
    float: left;
    border-radius: 25px;
    /*border: 1px solid white;*/
  }

  /******END OF CONTACT PAGE********/


  #Footer{
    height: 50px;
    width: 80%;
    padding: 0;
    position: relative;
    left: 10%;
    bottom: 0;
    overflow: hidden;
    background-color: #313131;
    /*border: 1px solid white;*/
  }

  #Footer p{
    margin-top: 0;
    color: white;
    text-align: center;
  }
  #Footer a {
      position: absolute;
      left: 0;
      bottom: 0;
  }

  #BoD{
    max-width: 100vw;
    height: 1800px;
  }
  #bod-underline{
    display: none;
  }
  #bod-row{
    padding-left: 0%;
  }
  #bod-row img:hover{
    opacity:1;
  }
  #bod-row img{
    pointer-events: none;
  }

}/*END OF MEDIA 445px*/
@media only screen and (min-width: 1536px)and (max-width: 1599px) {

  body, html{
    width: 1536px;
  }
  .bg-logo{
    margin-top: 15%;
  }
  .bg-text{
    padding-top: 0%;
  }
  .social-media{
    display: none;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1535px){

  body, html{
    width: 100vw;
    margin: 0;
  }
  div.stretchy-wrapper{
    width: 1366px;
  }
  .bg-logo{
    margin-top: 20%;
    margin-left: 45%;
  }
  .bg-text{
    padding-top: 0%;
    padding-left: 35%;

  }
  .social-media{
    display: none;
  }
   #about-main{
    padding-left: 0;
    margin-left: -5%;  
  }
  #about-info{
    left: 25%;
  }
   #ach-text{
    margin-left: -15%;
  }
  #work-undeline{
    margin-left: 45%;
  }
  #ach-undeline{
    margin-left: 45%;
  }
  #team-undeline{
    margin-left: 45%;
  }
  
  #contact-bg{
    position: relative;
    float: left;
    width: 95%;
    height: 644px;
  }
  #contact-form{
    position: absolute;
    float: left;
    margin-top: 300px;
    margin-left: 55%;
    border-radius: 4px;
    width: 27%;
  }

  #googleMap{
    width:90%;
    height:300px; 
    margin-top:20px; 
    margin-left: 70px;
    margin-bottom: 40px; 
    position: relative;
    float: left;
    border-radius: 25px;
  }
  #Footer a {
    position: absolute;
    left: -5%;
    bottom: 0;
  }
  #bod-row{
    padding-left: 10%;
  }
  #bod-underline{
    margin-left: 40%;
  }

}
@media only screen and (min-width: 1280px) and (max-width: 1365px){

  body, html{
    width: 100vw;
    margin: 0;
  }
  div.stretchy-wrapper{
      width: 1280px;
  }
  .bg-logo{
    margin-top: 20%;
    margin-left: 45%;
  }
  .bg-text{
    padding-top: 0%;
    padding-left: 35%;

  }
  .social-media{
    display: none;
  }
  
  #about-main{
    padding-left: 0;
    margin-left: -13%;  
  }
  #about-info{
    left: 25%;
  }
  #ach-text{
    margin-left: -10%;
  }
  #work-undeline{
    margin-left: 45%;
  }
  #ach-undeline{
    margin-left: 45%;
  }
  #team-undeline{
    margin-left: 45%;
  }

  #contact-bg{
    position: relative;
    float: left;
    width: 95%;
    height: 644px;
  }
  #contact-form{
    position: absolute;
    float: left;
    margin-top: 300px;
    margin-left: 55%;
    border-radius: 4px;
    width: 27%;
  }

  #googleMap{
    width:90%;
    height:300px; 
    margin-top:20px; 
    margin-left: 70px;
    margin-bottom: 40px; 
    position: relative;
    float: left;
    border-radius: 25px;
  }
  #Footer a {
    position: absolute;
    left: -10%;
    bottom: 0;
  }
  #bod-row{
    padding-left: 7%;
  }
  #bod-underline{
    margin-left: 40%;
  }

}

@media only screen and (min-width: 1920px) {

  body, html{
    width: 1600px;
  }
  .bg-logo{
    margin-top: 20%;
  }
  .bg-text{
    padding-top: 5%;
  }
  .social-media{
    padding-top: 35%;
  }
  #Team{
    background-color:  #313131;
  }
  #Master-Planning img{
    width: 100%;
    padding-left: 0;
  }
  #Commercial img{
    width: 100%;
    padding-left: 0;
  }
  #Hotel-Resort img{
    width: 100%;
    padding-left: 0;
  }
  #Instituitional img{
    width: 100%;
    padding-left: 0;
  }
  #Landscape img{
    width: 100%;
    padding-left: 0;
  }
  #Residential img{
    width: 100%;
    padding-left: 0;
  }
  #Interior img{
    width: 100%;
    padding-left: 0;
  }
  #Industrial img{
    width: 100%;
    padding-left: 0;
  }
  #Public-Building img{
    width: 100%;
    padding-left: 0;
  }

}

@media only screen and (min-width: 2560px) {

  body, html{
    width: 1600px;
  }
  .bg-logo{
    margin-top: 25%;
  }
  .bg-text{
    padding-top: 10%;
  }
  .social-media{
    padding-top: 50%;
  }
  #Team{
    background-color:  #313131;
  }
  #Master-Planning img{
    width: 100%;
    padding-left: 0;
  }
  #Commercial img{
    width: 100%;
    padding-left: 0;
  }
  #Hotel-Resort img{
    width: 100%;
    padding-left: 0;
  }
  #Instituitional img{
    width: 100%;
    padding-left: 0;
  }
  #Landscape img{
    width: 100%;
    padding-left: 0;
  }
  #Residential img{
    width: 100%;
    padding-left: 0;
  }
  #Interior img{
    width: 100%;
    padding-left: 0;
  }
  #Industrial img{
    width: 100%;
    padding-left: 0;
  }
  #Public-Building img{
    width: 100%;
    padding-left: 0;
  }

}
